# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/common/run/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/fabric/build/classes/java/main/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/neoforge/build/classes/java/main/
/.idea